body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.6;
}

.site-header {
  background: linear-gradient(
    to bottom,
    rgba(75, 0, 130, 0.6),
    rgba(0, 0, 0, 0.6)
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.site-header h1,
.site-header nav a {
  color: transparent;
  background: linear-gradient(
    to bottom,
    #ffffff,
    #ffe2e7
  );
  -webkit-background-clip: text;
  background-clip: text;
}

.site-content {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

.site-content h2 {
  color: transparent;
  background: linear-gradient(
    to bottom,
    #ffffff,
    #ffe2e7
  );
  -webkit-background-clip: text;
  background-clip: text;
}

.site-content section {
  margin-bottom: 2rem;
}

.site-footer {
  background: rgb(8, 0, 31);
  color: white;
  text-align: center;
  padding: 1rem;
}

.App {
  text-align: center;
}

.site-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .site-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
